# Compiled object files
*.slo
*.lo
*.o
*.obj

# Compiled Precompiled Headers
*.gch
*.pch

# Compiled libraries
*.lib
*.a
*.la
*.lo

# Shared objects (DLLs / dynamic libraries)
*.so
*.so.*
*.dylib
*.dll

# Executables / Machine code
*.exe
*.out
*.app
main.out

# Debug directories
.DS_Store
*.dSYM/
build/
bin/
obj/
.vscode/
.idea/
